<div class="row page">

	<div class="col-md-12">

		<div class="mypage">
		
		<!-- title and entry -->
		<% page.posts.each(function(item){ %>
			<%- partial('post/title', {item: item, index: index}) %>
			<%- partial('post/entry', {item: item, index: index}) %>
		<% }); %>

		</div>

		<!-- pagination -->
		<div>
  		<center>
		<%- partial('index_pagination') %>
  		</center>
		</div>

		
		
	</div> <!-- col-md-12 -->
	
</div> <!-- row-fluid -->